* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 50px;
}
.box {
  position: absolute;
  margin: 0px 50px;
  width: 500px;
  height: 750px;
  border: 0px solid black;
}
.box-right {
  margin: 0px 600px;
}
.title {
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.book-li {
  text-align: left;
  font-style: italic;
  margin: 10px 0px;
}
.book-li:hover {
  cursor: pointer;
}
.center-child {
  text-align: center;
}
.image-book {
  width: 200px;
  margin-bottom: 10px;
}
.book-pretext {
  margin: 25px;
  font-size: 25px;
}
.book-subtext {
  display: block;
  margin: 10px;
  font-size: 20px;
}
.buttons {
  margin: 0px 15px;
}
section {
  text-align: center;
  margin: 20px;
}
.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}
.bold {
  font-weight: 700;
}
